apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  labels:
    EntandoApp: {{ .Values.appName }}
  name: {{ .Values.appName }}-ingress
  namespace: {{ .Values.nameSpace }}
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.appHost }}
    secretName: {{ .Values.secretTls }}
  rules:
  - host: {{ .Values.appHost }}
    http:
      paths:
      - backend:
          service:
            name: {{ .Values.appName }}-service
            port:
              number: 8080
        path: /
        pathType: Prefix